.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    background-color: white;
    width: 30%;
    height: 65%;
    position: relative;
    h1 {
      text-align: center;
      padding: 0.5rem 0;
    }
    .modal-img {
      width: 100%;
      overflow: hidden;
    }
    .modal-p {
      padding: 0.5rem;
      font-size: 1.1rem;
    }
    .modal-close {
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 1.2rem;
      color: rgb(245, 241, 184);
      padding: 0.3rem;
      cursor: pointer;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}
